build/
.idea/
cmake-build-debug/

*cifuzz*/
*fuzz*_inputs
.sarif/

lcov.info


!.cifuzz-findings/

.cifuzz-findings/*
!.cifuzz-findings/sweet_bonobo/
.cifuzz-findings/sweet_bonobo/.lock
!.cifuzz-findings/youthful_wallaby/
.cifuzz-findings/youthful_wallaby/.lock