build/
.idea/
cmake-build-debug/

*cifuzz*/
*fuzz*_inputs
.sarif/

lcov.info


!.cifuzz-findings/

.cifuzz-findings/*
!.cifuzz-findings/focused_fly/
.cifuzz-findings/focused_fly/.lock
!.cifuzz-findings/adventurous_crocodile/
.cifuzz-findings/adventurous_crocodile/.lock
!.cifuzz-findings/incredible_elk/
.cifuzz-findings/incredible_elk/.lock
